streamlit
scikit-learn
requests==2.31.0
beautifulsoup4>=4.12.3
PyPDF2==3.0.1
python-pptx==0.6.21
openai 
ollama
llama_index>=0.9
llama-index-llms-ollama
youtube_transcript_api
setuptools
duckduckgo-search
llama-cpp-python
huggingface_hub
ollama 
llama_index 
langchain
langchain_ollama
langchain-core
langchain-community

